@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');
*{
    margin: 0;
    border: 0;
    padding: 0;
}
.head{
    display: flex;
    justify-content:space-around;
    padding: 20px;
    background: #0073ff6e;
    border-bottom: 1px solid #171923;
    font-family: 'Manrope', sans-serif;
}
.a1{
    text-decoration: none;
    border: 1px solid #171923;
    padding: 5px;
    border-radius: 10px;
    color: #171923;
    background: none;
    /* cursor: progress; altera o que está na setinha*/
    transition: all .3s;
}
a:hover{
    background: white;
}
div input{
    background: transparent;
    border-bottom: 1px solid #171923;
    outline: none;
}
main{
    padding: 20px;
    text-align: center;
    background: #f5f8ff;
}
h1{
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 38px;
}
.txtp{
    text-align: center;
    text-align: justify;
    padding: 20px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
}
.exe{
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 20pt;
    padding-bottom: 20px;
}
h2{
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 38px;
    padding-top: 20px;
}
footer{
    padding: 20px;
    background: #677389;
}
.flex{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.blogue{
    font-size: 20pt;
    font-family:'Manrope', sans-serif;
    color: #171923;
    border: 1px solid #171923;
    border-radius: 10px;
    padding: 5px;
}
